@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.nav-item {
  list-style-type: none;
}

.navbar {
  margin-top: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding: 10px;
}

.sidenav button,
.open {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding: 10px;
  border: none;
  background-color: transparent;
}

.sidenav h1 {
  text-decoration: none;
  font-size: 35px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding: 10px;
  margin-bottom: 50px;
  font-weight: bolder;
  font-family: 'Bona Nova', serif;
  font-family: 'Pacifico', cursive;
}

.sidenav .signout {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding: 10px;
}

.sidenav .signout:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.sidenav .closebtn:hover {
  cursor: pointer;
  background-color: transparent;
  color: black;
}

@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}

/* # Home Page */

.card {
  margin-bottom: 30px;
  border: none !important;
  border-radius: 50%;
}

.card a {
  text-decoration: none;
  color: black;
}

.arr {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #97bf0e;
  transform: rotate(0deg);
}

.arrowCont a {
  color: #97bf0e;
  font-size: 20px;
  margin-top: -6px;
}

.card a:hover {
  color: #98bf11;
}

.sidenav a:hover {
  background-color: #98bf11;
  color: white;
}

.sidenav button:hover {
  background-color: #98bf11;
  color: white;
}

.arrowCont a:hover {
  color: #97bf0e;
  font-size: 20px;
  margin-top: -6px;
}

.add-btn {
  background-color: #97bf0e;
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: none;
}

.add-heading {
  color: #97bf0e;
}

.reserve-page-components {
  max-width: 100%;
  height: 100vh;
}

.reserve-page-container {
  position: absolute;
  z-index: 100;
  width: 90vw;
  padding: 0 0.75rem;
  margin-left: 0.375rem;
  text-align: center;
  display: flex;
  justify-content: center;
  top: 25%;
}

.reserve-form-input {
  height: 2.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.725rem;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 10px;
  width: 200px;
}

.reserve-label {
  color: #97bf0e;
  font-size: 20px;
}

.reserve-form-container {
  padding: 20px;
}

.reserve-heading {
  color: #97bf0e;
  margin-bottom: 10px;
}

.reservation-heading {
  text-align: center;
  color: #97bf0e;
  margin-bottom: 10px;
}
